<div id="home" class="container my-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8">
      <div class="shadow p-4 rounded text-center bg-white">
        <img src="profile-image.jpg" 
             alt="Profile" 
             class="rounded-circle mb-3 img-fluid"
             width="250" height="250">
        <h1 class="mb-2">Hi, I'm Krunal Moharkar</h1>
        <h4 class="text-muted">Full Stack Java + Angular Developer</h4>
        <div class="mt-4">
          <a href="https://drive.google.com/file/d/1ebx2DiSaClsGdn3s7sXg3RnTo-IEZl-I/view?usp=sharing" 
             class="btn btn-primary me-2">Download Resume</a>
          <a routerLink="/contact" class="btn btn-outline-secondary">Contact Me</a>
        </div>
      </div>
    </div>
  </div>
</div>
